.back-to-top {
  position: fixed;
  right: 10px;
  bottom: 10px;
  width: 60px;
  height: 60px;
  cursor: pointer;
  border-radius: 50%;
  background-color: $primary-background-color;
  transition: all 300ms ease 0ms;
  display: none;

  &:hover,
  &:focus {
    filter: brightness(1.5);
    outline: none;
  }
}
