$transition-bezier: cubic-bezier(0.4, 0, 0.2, 1);
$time: 250ms;

$mobile: 480px;
$tablet: 768px;
$desctop: 1366px;

$primary-background-color: #112a3e;
$primary-background-color-white: #f5f5f5;
$accent-color: #1cc89f;
$text-color: #fff;
$primary-white-color: #ffffff;
$border-default: #fff;
$modal-order: #102b3e;

$primary-black-color: #111518;
$primary-text-color: #b9b9b9;
$backdrop: rgba(17, 21, 24, 0.9);

//transition
$backdrop-transition: cubic-bezier(0.4, 0, 0.2, 1);
$modal-form: cubic-bezier(0.4, 0, 0.2, 1);
$modal-time: 250ms;
