<section class="hero">
  <div class="container hero__container">
    <div class="hero__content">
      <div class="hero-text-block _anim-items _anim-no-hide">
        <h1 class="hero__title">Найкращий спосіб вивчити програмування</h1>
        <p class="hero__text">
          Курси, розроблені експертами з реальною практикою.
          <br />
          Приєднуйтесь до нашої глобальної спільноти.
        </p>
      </div>
      <button type="button" class="btn-wrapper" data-modal-open-hero>Почати навчання зараз</button>
    </div>
  </div>
</section>

<section class="advantage">
  <div class="container">
    <h2 class="title visually-hidden">Advantages</h2>
    <ul class="advantage-list list _anim-items _anim-no-hide">
      <li class="advantage-item">
        <h3 class="advantage-title">
          Експертність у навчанні
          <br />
          програмування
        </h3>
      </li>
      <li class="advantage-item">
        <h3 class="advantage-title">
          Інтерактивні заняття
          <br />
          та реальні проєкти
        </h3>
      </li>
      <li class="advantage-item">
        <h3 class="advantage-title">
          Безкоштовний доступ до
          <br />
          найкращої освіти
        </h3>
      </li>
    </ul>
  </div>
</section>

<section class="choose">
  <div class="choose-container container">
    <ul class="choose-list list">
      <li class="choose-item">
        <div class="choose-container-img">
          <img src="./images/android_ico.png" alt="image android" class="choose-img" />
        </div>
        <span class="choose-text"
          >Introduction
          <br />
          to Kotlin</span
        >
      </li>
      <li class="choose-item">
        <div class="choose-container-img">
          <img src="./images/apple_ico.png" alt="image apple" class="choose-img" />
        </div>
        <span class="choose-text"
          >Introduction
          <br />
          to Swift</span
        >
      </li>
    </ul>
  </div>
</section>

<section class="courses">
  <div class="container">
    <div class="courses__container">
      <ul class="courses__list">
        <li class="courses__item">
          <img
            class="courses__item-img"
            src="https://i.imgur.com/jxtXyKs.png"
            alt="Placeholder Image"
          />
          <h3 class="courses__item-title">Проектно-орієнтоване навчання</h3>
          <p class="courses__item-description">
            Студенти працюють над реальними проектами з мобільної розробки, що допомагає їм отримати
            практичні навички та досвід.
          </p>
          <a href="https://khmnu.edu.ua" class="courses__button">Почати навчання</a>
        </li>
        <li class="courses__item">
          <img
            class="courses__item-img"
            src="https://i.imgur.com/puuRvva.png"
            alt="Placeholder Image"
          />
          <h3 class="courses__item-title">Менторство та підтримка</h3>
          <p class="courses__item-description">
            Кожен студент отримує особистого наставника, який допомагає їм вирішувати проблеми та
            розвивати навички.
          </p>
          <a href="https://khmnu.edu.ua" class="courses__button">Почати навчання</a>
        </li>
        <li class="courses__item">
          <img
            class="courses__item-img"
            src="https://i.imgur.com/dvYXyy0.png"
            alt="Placeholder Image"
          />
          <h3 class="courses__item-title">Практичні заняття з розв'язання задач</h3>
          <p class="courses__item-description">
            Студенти вирішують практичні завдання, що допомагають закріпити теоретичні знання.
          </p>
          <a href="https://khmnu.edu.ua" class="courses__button">Почати навчання</a>
        </li>
      </ul>
      <!-- <ul>
        <li>
          <img
            class="courses__item-img"
            src="https://i.imgur.com/nrOpX6m.png"
            alt="Placeholder Image"
          />
          <h3 class="courses__item-title">Онлайн-ресурси</h3>
          <p class="courses__item-description">
            Доступ до онлайн-ресурсів і матеріалів для самостійного вивчення.
          </p>
          <a href="https://khmnu.edu.ua" class="courses__button">Почати навчання</a>
        </li>
        <li class="courses__item">
          <div>
            <img
              class="courses__item-img"
              src="https://i.imgur.com/nrOpX6m.png"
              alt="Placeholder Image"
            />
            <h3 class="courses__item-title">Навчайся де завгодно</h3>
            <p class="courses__item-description">
              В Інтернеті чи в дорозі, SpiderCoding завжди готовий до вас, і ви ніколи не втратите
              своє місце.
            </p>
            <h3 class="courses__item-title">Завантажити додаток</h3>
            <a href="https://khmnu.edu.ua" class="courses__button">Почати навчання</a>
          </div>
          <div></div>
        </li>
      </ul> -->
    </div>
  </div>
</section>

<!-- <div class="row">
      <img src="https://i.imgur.com/ZeiqZ65.png" alt="QRcode" />

      <div class="content">
        <a href="https://www.apple.com/app-store">
          <img src="https://i.imgur.com/8yJB8uU.png" alt="App Store Button" />
        </a>
        <a href="https://play.google.com/store/games?hl=en&gl=US">
          <img src="https://i.imgur.com/qRenMac.png" alt="Google Play Button" />
        </a>
      </div>
    </div>
  </div>
  <img src="https://i.imgur.com/bTI2W6w.png" alt="Placeholder Image" />
 -->

<section class="program" id="program">
  <div class="program-container container">
    <h2 class="program-title">Програма навчання</h2>
    <ul class="program-list list">
      <li class="program-item _anim-items _anim-no-hide">
        <h3 class="program-item-title">1 семестр</h3>
        <ul class="list program-study-block">
          <li class="program-study-block-item">
            <h4 class="program-study-block-title">— Course 1</h4>
            <ul class="list program-topic-list">
              <li class="program-topic-item">Foundations of development</li>
            </ul>
          </li>
        </ul>
      </li>
      <li class="program-item _anim-items _anim-no-hide">
        <h3 class="program-item-title">2 семестр</h3>
        <ul class="list program-study-block">
          <li class="program-study-block-item">
            <h4 class="program-study-block-title">— Course 2</h4>
            <ul class="list program-topic-list">
              <li class="program-topic-item">Networking and Security in applications</li>
            </ul>
          </li>
        </ul>
      </li>
      <li class="program-item _anim-items _anim-no-hide">
        <h3 class="program-item-title">3 семестр</h3>
        <ul class="list program-study-block">
          <li class="program-study-block-item">
            <h4 class="program-study-block-title">— Course 3</h4>
            <ul class="list program-topic-list">
              <li class="program-topic-item">Best Practices for Mobile User Interface Design</li>
            </ul>
          </li>
        </ul>
      </li>
      <li class="program-item _anim-items _anim-no-hide">
        <h3 class="program-item-title">4 семестр</h3>
        <ul class="list program-study-block">
          <li class="program-study-block-item">
            <h4 class="program-study-block-title">— Course 4</h4>
            <ul class="list program-topic-list">
              <li class="program-topic-item">Games, Sensors and Media Numeral</li>
            </ul>
          </li>
        </ul>
      </li>
      <li class="program-item _anim-items _anim-no-hide">
        <h3 class="program-item-title">5 семестр</h3>
        <ul class="list program-study-block program-study-block-mod">
          <li class="program-study-block-item">
            <h4 class="program-study-block-title">— Course 5</h4>
            <ul class="list program-topic-list program-photo">
              <li class="program-topic-item">Toward the Future of Mobile Development</li>
            </ul>
          </li>
          <li class="program-study-block-item">
            <ul class="list program-topic-list">
              <li class="program-topic-item">Individual project</li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</section>
