<section class="hero">
  <div class="container hero__container">
    <div class="hero__content">
      <div class="hero-text-block _anim-items _anim-no-hide">
        <h1 class="hero__title">Найкращий спосіб вивчити програмування</h1>
        <p class="hero__text">
          Курси, розроблені експертами з реальною практикою.
          <br />
          Приєднуйтесь до нашої глобальної спільноти.
        </p>
      </div>
      <button type="button" class="btn-wrapper" data-modal-open-hero>Почати навчання зараз</button>
    </div>
  </div>
</section>

<section class="advantage">
  <div class="container">
    <h2 class="title visually-hidden">Advantages</h2>
    <ul class="advantage-list list _anim-items _anim-no-hide">
      <li class="advantage-item">
        <h3 class="advantage-title">
          Експертність у навчанні
          <br />
          програмування
        </h3>
      </li>
      <li class="advantage-item">
        <h3 class="advantage-title">
          Інтерактивні заняття
          <br />
          та реальні проєкти
        </h3>
      </li>
      <li class="advantage-item">
        <h3 class="advantage-title">
          Безкоштовний доступ до
          <br />
          найкращої освіти
        </h3>
      </li>
    </ul>
  </div>
</section>

<section class="choose">
  <div class="choose-container container">
    <ul class="choose-list list">
      <li class="choose-item">
        <div class="choose-container-img">
          <img src="./images/android_ico.png" alt="image android" class="choose-img" />
        </div>
        <span class="choose-text"
          >Introduction
          <br />
          to Kotlin</span
        >
      </li>
      <li class="choose-item">
        <div class="choose-container-img">
          <img src="./images/apple_ico.png" alt="image apple" class="choose-img" />
        </div>
        <span class="choose-text"
          >Introduction
          <br />
          to Swift</span
        >
      </li>
    </ul>
  </div>
</section>
